@model IEnumerable<AL.Events.WEB.Models.CategoryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<p>
    @Html.RouteLink("Add new category", new { controller = "Category", action = "Create" }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.RouteLink("Edit", new { controller = "Category", action = "Edit", id = item.Id }, new { @class = "btn btn-default" })
                @Html.RouteLink("Delete", new { controller = "Category", action = "Delete", id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }
</table>
