@model IEnumerable<AL.Events.WEB.Models.EventViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
        <p></p>
        @*<div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.First().CategoryName, new SelectList(Model.First().CategoryList.Select(m => m.Name)), "Choose category", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.First().CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.First().Status, new SelectList(Model.First().StatusList.Select(m => m)), "Choose status", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.First().Status, "", new { @class = "text-danger" })
            </div>
        </div>*@
    </div>
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Date</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="Search">
                <td>@item.Name</td>
                <td>@item.CategoryName</td>
                <td>@item.Date</td>
                <td>@item.Address</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(textOne, textTwo) {
            if (textOne.indexOf(textTwo) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>

